html {
  text-align: center;

  font-family: 'Lato', sans-serif;
  text-decoration: none;
  background-image: url("https://raw.githubusercontent.com/kchens/kchens.github.io/master/images/ttt-background.jpg");
  background-size: contain;
}

body {
  color: white;
  background-color: transparent;
}

.square{
  width:  135px;
  height: 135px;
  text-align: center;
}

.v {
  border-left:1px solid white;
  border-right:1px solid white;
}

.h {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

#game-over, #winner, #tie, #kanye-win, #taylor {
  display: none;
}

#board, #game-over {
  margin: 3%;
}

.kanye {
  width: 128px;
  height: 128px;
}
