<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1>TIC-TAC-TAYLOR</h1>
    <h3>Can Taylor Swift <i>finally</i> beat Kanye?</h3>
  </div>
</div>

<div class="row" id="board">
  <div class="col-md-offset-4 col-md-6">
    <table>
      <tr id="row1">
        <td class="square"   id='0' data-open='false'></td>
        <td class="square v" id='1' data-open='false'><img class='kanye' src='https://raw.githubusercontent.com/kchens/kchens.github.io/master/images/ttt-kanye.png'></td>
        <td class="square"   id='2' data-open='false'><img class='taylor' src='https://raw.githubusercontent.com/kchens/kchens.github.io/master/images/ttt-taylor.png'></td>
      </tr>
      <tr id="row2">
        <td class="square h"    id='3' data-open='false'></td>
        <td class="square v h"  id='4' data-open='false'></td>
        <td class="square h"    id='5' data-open='false'></td>
      </tr>
      <tr id="row3">
        <td class="square"    id='6' data-open='false'></td>
        <td class="square v"  id='7' data-open='false'></td>
        <td class="square"    id='8' data-open='false'></td>
      </tr>
    </table>
  </div>
</div>

<div class="row" id='game-over'>
  <div class="col-md-offset-3 col-md-6">
    <h1 id='winner'>I WON! I'M THE GREATEST TIC-TAC-TOE PLAYER OF THE UNIVERSE!!</h1>
    <h1 id='tie'>Ties are in MY favor! I AM <em>STILL</em> THE GREATEST:  </h1>
    <img id='kanye-win' src="https://raw.githubusercontent.com/kchens/kchens.github.io/master/images/ttt-kanye-wins.png">

    <img id='taylor-win' src="https://33.media.tumblr.com/avatar_30a0960139db_128.png">
  </div>
</div>

<div class="row" id="start-game">
  <div class="col-md-offset-3 col-md-6">
    <div class='pull-left' id='kanye-start'>
      <img class='kanye img-rounded' src='https://raw.githubusercontent.com/kchens/kchens.github.io/master/images/ttt-kanye.png'>
      <button id="computer-start" data-start-human="false" class="btn btn-warning">Start Computer</button>
    </div>
    <div class='pull-right' id='taylor-start'>
      <button id="human-start" data-start-human="true" class="btn btn-success">Start Human</button>
      <img class='taylor img-rounded' src='https://raw.githubusercontent.com/kchens/kchens.github.io/master/images/ttt-taylor.png'>
    </div>
  </div>
</div>
